<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="app.js"></script>
</head>

<head>
    <title>Add a Buddy</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Address Book Application</h1>
<form action="#" th:action="@{/basic/createBook}" method="post">
    <p><input type="submit" value="Create Address Book" /></p>
</form>
</body>
</html>